In [2]:
import json
import pandas as pd, numpy as np
from tqdm import tqdm
import string

In [6]:
buzzfeed_CB= json.loads((open(r"..\Data\Raw\buzzfeed.json")).read())

In [7]:
buzzfeed_CB[0]

{'article_title': '23 Life Lessons Cosmo Kramer Taught Us',
 'clickbait': 1,
 'response_count': 280,
 'article_url': '/javiermoreno/ife-lessons-you-learned-from-cosmo-kramer',
 'author': {'url': '/javiermoreno', 'name': 'Javier Moreno'}}

In [8]:
clickhole_CB = json.loads((open(r"..\Data\Raw\clickhole.json")).read())

In [9]:
clickhole_CB[0]

{'article_title': 'And What A Year It’s Been: Looking Back On The Best, Worst, And Weirdest Stories That Made 2014 An Incredible Year For The Internet',
 'clickbait': 1,
 'article_url': '/article/and-what-year-its-been-looking-back-best-worst-and-1605'}

In [10]:
dose_CB=json.loads((open(r"..\Data\Raw\dose.json")).read())

In [11]:
nyt_NCB = json.loads((open(r"..\Data\Raw\nytimes.json")).read())

In [12]:
dose_CB[0],nyt_NCB[0]

({'article_title': " This Artist Takes Kids' Drawings...But You'll Never Guess Why",
  'clickbait': 1,
  'article_url': 'http://www.dose.com/lists/16905/This-Artist-Takes-Kids-Drawings-But-You-ll-Never-Guess-Why'},
 {'article_title': "Nation's Smaller Jails Struggle To Cope With Surge in Inmates",
  'clickbait': 0,
  'topic_code': '12',
  'article_subject': 'Jails overwhelmed with hardened criminals',
  'date': '1-Jan-96',
  'article_id': '41246'})

In [13]:
other_CB_fp= open(r"..\Data\Raw\clickbait.txt",'r')

In [14]:
other_CB= other_CB_fp.read().splitlines()

In [15]:
other_CB[0], len(other_CB)

('10 Celebs Killin The Elf On The Shelf Game', 5637)

In [16]:
other_NCB_fp= open(r"..\Data\Raw\genuine.txt",'r')

In [17]:
other_NCB= other_NCB_fp.read().splitlines()

In [18]:
other_NCB[0],len(other_NCB)

('A simmering resentment', 6080)

In [20]:
pre_mergedData= pd.read_csv(r"..\Data\final.csv")

In [21]:
pre_merged_titles= pre_mergedData['targetTitle'].tolist()
pre_merged_labels= [1 if x>=0.5 else 0 for x in pre_mergedData['truthMean']]

In [22]:
pre_merged_titles[0],pre_merged_labels[0], len(pre_merged_labels)

('‘Inexcusable’ failures in UK’s response to modern slavery leaving victims destitute while abusers go free, report warns',
 0,
 41256)

In [23]:
len(buzzfeed_CB)+len(clickhole_CB)+len(dose_CB)+len(nyt_NCB)+len(other_CB)+len(other_NCB)+len(pre_merged_labels)

59173

In [24]:
data= {'id':[], 'titles':[], 'clickbait':[]}

In [25]:
t=1;

In [26]:
#for buzzfeed click bait data
for x in buzzfeed_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [27]:
#for clickHole click bait data
for x in clickhole_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [28]:
#for dose click bait dataset
for x in dose_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [29]:
#for New york times click bait data
for x in nyt_NCB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x['article_title'])
    data['clickbait'].append(x['clickbait'])

In [30]:
# for click bait data source from other sites
for x in other_CB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x)
    data['clickbait'].append(1)

In [31]:
# for non click bait data source from other sites
for x in other_NCB:
    data['id'].append(t)
    t+=1
    data['titles'].append(x)
    data['clickbait'].append(0)

In [32]:
for i in range(len(pre_merged_labels)):
    data['id'].append(t)
    t+=1
    data['titles'].append(pre_merged_titles[i])
    data['clickbait'].append(pre_merged_labels[i])

In [33]:
data= pd.DataFrame(data)

In [34]:
#to shuffle data
data= data.sample(frac=1)

In [36]:
type(data['id'][0]), type(data['titles'][0]), type(data['clickbait'][0]), len(data['titles'])

(numpy.int64, str, numpy.int64, 59173)

In [37]:
data=data.dropna().reset_index()

In [38]:
data.to_csv('clickBait_Data.csv',index=False)

In [39]:
pd.read_csv('clickBait_Data.csv')

,index,id,titles,clickbait
0,42179,42180,Arvind Panagariya raises first red flag on tax...,0
1,30990,30991,"As an Iranian Briton, Theresa May's support fo...",1
2,21403,21404,"In Trump's ongoing feud about Russia, he says ...",0
3,14415,14416,You Me at Six: Night People review overwrough...,0
4,23421,23422,"Dylann Roof, Addressing Court, Offers No Apolo...",0
...,...,...,...,...
59167,25928,25929,You cheeky monkey! Macaque climbs onto a fishi...,0
59168,31891,31892,"FA Cup photo essay – road to Wembley, quarter-...",0
59169,12828,12829,OBE medal turns up at east London waste depot,0
59170,37619,37620,The 50 Funniest Tweets From Women In 2016,1
59171,56904,56905,Young Mom Cries Out In Pain 6 Weeks After Her ...,1